.wrapper {
  padding-bottom: 10px;
  margin-top: 80px;
  & img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 450px) {
}
@media screen and (max-width: 380px) {
}
