.wrapper {
  max-width: var(--content-width);
  margin: 100px auto 30px auto;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  & img {
    width: 650px;
  }
  margin: 0 auto;
}
.text {
  font-size: 19px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: 400;
}
.heading {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 30px;
  font-weight: 900;
}
.title {
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding: 10px;
  }
  .img {
    & img {
      width: 500px;
    }
  }
  .text {
    font-size: 16px;
  }
  .heading {
    font-size: 25px;
  }
  .title {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .img {
    & img {
      width: 100%;
    }
  }
  .text {
    font-size: 13px;
  }
  .heading {
    font-size: 16px;
  }
  .title {
    font-size: 13px;
  }
}
@media screen and (max-width: 380px) {
  .img {
    & img {
      width: 100%;
    }
  }
  .text {
    font-size: 10px;
  }
  .heading {
    font-size: 14px;
  }
  .title {
    font-size: 10px;
  }
}
