.wrapper {
  margin: 100px auto;
  max-width: calc(var(--content-width) + 500px);
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
  & .post-item {
    padding: 12px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    margin: 30px;
    height: 100%;
  }
  & .post-author {
    padding: 5px;
    transition: 0.3s;
    overflow: hidden;
    & img {
      object-fit: cover;
      width: 100%;
      height: 260px;
      border-radius: 16px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  & .post-body {
    width: 100%;
    & .post-title {
      font-size: 20px;
      line-height: 1.75;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding: 0 10px;
    }
  }
  & .clear {
    clear: left;
  }
}
.post-content-close {
  position: fixed;
  font-size: 20px;
  top: 0;
  right: 50px;
  cursor: pointer;
}
.post-content-view {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  overflow-y: scroll;
}
.post-content-view-content {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
}
// Post-view
.post-view table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}
.post-view hr {
  background-color: #ddd;
  border: transparent;
  height: 1px;
  margin: 40px 0;
}
.post-view p {
  font-size: 1.8rem;
  word-wrap: break-word;
  color: #292929;
  font-size: 1.8rem;
  line-height: 2;
}
.post-view .post-view-heading {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
}
.post-view td,
.post-view th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.post-view td {
  color: #555;
  font-weight: 400;
  font-size: 13px;
}
.post-view th {
  color: #333;
  font-weight: 600;
  font-size: 15px;
}
.post-view img {
  max-width: 100%;
  padding: 10px 0;
  margin: auto;
}
.post-view tr:nth-child(even) {
  background-color: #dddddd;
}
.post-view blockquote {
  border-left: 3px solid #ff8bb3;
  margin-left: 0;
  padding: 0 0 2px 15px;
  background-color: #fdfdfd;

  & p {
    color: #757575;
    margin: 0;
  }
}
.post-view ul,
.post-view ol {
  word-wrap: break-word;
  color: #292929;
  font-size: 1.8rem;
  font-size: 1.8rem;
  line-height: 2;
  line-height: 2;
  padding-left: 50px;
}
.post-view h1 {
  font-weight: 600;
  font-size: 4em;
  margin: 21.44px 0;
}
.post-view h2 {
  font-weight: 600;
  font-size: 3.5em;
  margin: 19.92px 0;
}
.post-view h3 {
  font-weight: 600;
  font-size: 2.17em;
  margin: 18.72px 0;
}
.post-view h4 {
  font-weight: 600;
  font-size: 1.6em;
  margin: 21.28px 0;
}
.post-view h5 {
  font-weight: 600;
  font-size: 1.33em;
  margin: 22.1776px 0;
}
.post-view h6 {
  font-weight: 300;
  font-size: 0.87em;
  margin: 24.9776px 0;
}
.post-view strong {
  font-weight: 600;
}
.post-view a[href] {
  color: #f05123;
  text-decoration: underline;
}
.No-posts {
  font-size: 50px;
  padding: 160px 0;
  font-weight: 900;
}
.post-view-info {
  width: 300px;
  padding: 10px;
  margin: 50px 20px 10px 0;
  border-radius: 16px;
  background-image: radial-gradient(
    circle farthest-corner at 92.3% 71.5%,
    rgba(83, 138, 214, 1) 0%,
    rgba(134, 231, 214, 1) 90%
  );
  & .post-view-info-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
  }
  & .post-view-info-author,
  .post-view-info-date {
    font-size: 20px;
    font-weight: 500;
    color: #0652dd;
    & span {
      color: #009432;
    }
  }
}
