.wrapper {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  border-color: transparent transparent rgba(32, 32, 32, 0.1) transparent;
  border-style: solid;
  background-color: transparent;
  z-index: 1;
  background-color: #fff;
  &.over {
    border-bottom-color: #000;
    min-height: 60px;
  }
}
.container {
  width: var(--content-width);
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  & .logo-title {
    color: var(--black-color);
  }
  & .menu {
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
    & .menu-link {
      padding: 0 15px;
      font-size: 13px;
      font-weight: 700 !important;
      text-transform: uppercase !important;
      & a {
        color: var(--black-color);
        font-weight: 700;
      }
      &.menu-drop {
        position: relative;
        &:hover .drop-down {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
          display: block;
          border: 3px solid #000;
          border-top-color: transparent;
        }
        & .drop-down {
          &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            background-color: transparent;
            height: 30px;
            width: 27%;
            left: 9px;
          }
          position: absolute;
          width: 260%;
          top: 100%;
          left: 0;
          padding: 10px 0 10px 10px;
          transform: translateY(10px);
          display: none;
          & .menu-link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            &:hover {
              text-decoration: underline;
            }
          }
          background-color: var(--white-color);
        }
      }
    }
    & .menu-link-icon {
      padding: 0 5px;
      font-size: 13px;
      font-weight: 700 !important;
      text-transform: uppercase !important;
      & a {
        color: var(--black-color);
      }
    }
  }
  & .menuToggle {
    display: none;
    & .toggleIcon {
      & svg {
        font-size: 20px;
        padding-right: 20px;
      }
    }
    & .itemMenuToggle {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 80px;
      left: 0;
      background-color: #fff;
      transform: translateX(0);
      transition: all 0.3s;
      & .menu-link-icon {
        display: none;
      }
      & .menu-link {
        text-align: left;
        padding: 20px;
        font-size: 15px;
        &:hover {
          text-decoration: none;
        }
        & a {
          font-weight: 700;
        }
        width: 100%;
        &.menu-drop {
          & .drop-down {
            text-align: center;
            width: 100%;
            margin: 0 auto;
            & .menu-link {
              & a {
                padding: 0 10px;
                border-left: 3px solid #999;
                color: #999;
                font-weight: 500;
              }
            }
            display: none;
            &.click {
              display: block;
            }
          }
        }
      }
    }
    & .itemMenuToggle.hidden {
      transition: all 0.3s;
      transform: translateX(3000px);
    }
    & .itemMenuToggle.overToggle {
      top: 60px;
    }
  }
  & .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    font-weight: 700;
    font-size: 30px;
  }
}
.menu-link.menu-hover:hover {
  text-decoration: underline;
}
// @media screen and (max-width: 800px) {
//   .wrapper {
//     min-height: 60px;
//     &.over {
//       min-height: 50px;
//     }
//   }
//   .container {
//     & .logo-title {
//       font-size: 20px;
//     }
//     & .menu {
//       & .menu-link {
//         font-size: 10px;
//       }
//       & .menu-link-icon {
//         font-size: 10px;
//       }
//     }
//   }
// }
@media screen and (max-width: 850px) {
  .wrapper {
    background-color: #fff;
  }
  .container {
    display: block;
    & .logo-title {
      font-size: 20px;
      float: left;
    }
    & .menu {
      display: none;
    }
    & .menuToggle {
      display: block;
      & .toggleIcon {
        float: right;
      }
    }
  }
}
// @media screen and (max-width: 380px) {
//   .container {
//     & .menu {
//       & .menu-link {
//         font-size: 7px;
//       }
//       & .menu-link-icon {
//         font-size: 7px;
//       }
//     }
//   }
// }
