.wrapper {
  max-width: 1370px;
  margin: 100px auto 20px auto;
}
.heading {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 900;
}
.title {
  padding-top: 15px;
  text-align: center;
  color: #777;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 1.6rem;
}
.name {
  font-size: 30px;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 600;
}
.info {
  font-weight: 400;
  font-size: 15px;
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
}
.img-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.img-item {
  flex: 50%;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 640px;
  }
  padding: 20px;
}
.img {
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding: 20px;
  }
  .heading {
    font-size: 28px;
  }
  .title {
    font-size: 13px;
  }
  .name {
    font-size: 28px;
  }
  .info {
    font-size: 12px;
  }
  .img {
    & img {
      width: 500px;
    }
  }
  .img-item {
    padding: 15px;
    & img {
      width: auto;
    }
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 25px;
  }
  .title {
    font-size: 10px;
  }
  .name {
    font-size: 25px;
  }
  .info {
    font-size: 9px;
  }
  .img {
    & img {
      width: auto;
    }
  }
  .img-item {
    padding: 5px;
    & img {
      width: auto;
    }
  }
}
@media screen and (max-width: 380px) {
  .heading {
    font-size: 22px;
  }
  .title {
    font-size: 10px;
  }
  .name {
    font-size: 22px;
  }
  .info {
    font-size: 10px;
  }
  .img {
    & img {
      width: auto;
    }
  }
  .img-item {
    padding: 0;
    flex: 100%;
    & img {
      width: auto;
    }
  }
}
