.wrapper {
  max-width: var(--content-width);
  margin: 100px auto 30px auto;
  border-left: 1px solid #d5d3d3;
  border-right: 1px solid #d5d3d3;
  padding-bottom: 30px;
  & .title {
    font-size: 25px;
    font-weight: 500;
    padding: 20px 0;
  }
  & .title-img {
    text-align: center;
    color: #ff9901;
    font-weight: 600;
    padding: 20px;
  }
  & .image {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
  & .heading-content {
    font-weight: 600;
    font-size: 30px;
  }
  & .list-item {
    padding: 10px 30px;
    & .item {
      font-size: 15px;
      padding: 5px;
      color: var(--black-color);
      font-weight: 400;
    }
  }
  & .title-item {
    font-size: 20px;
    font-weight: 500;
  }
  & .text {
    font-size: 15px;
    font-weight: 400;
  }
  & .heading {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #777;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 100px;
    &::before {
      position: absolute;
      content: '';
      left: 50%;
      bottom: 0;
      height: 3px;
      width: 150px;
      background-color: rgba(187, 187, 187, 0.802);
      transform: translateX(-50%);
    }
  }
  & .container {
    & .heading-container {
      color: var(--black-color);
      text-align: center;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 50px;
    }
    & .quote-content {
      color: #777;
      padding: 0 30px;
      font-size: 20px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    & .heading {
      font-size: 23px;
      &::before {
        width: 130px;
      }
    }
    & .container {
      & .heading-container {
        font-size: 25px;
      }
      & .quote-content {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .wrapper {
    & .heading {
      font-size: 20px;
      &::before {
        width: 110px;
      }
    }
    & .container {
      & .heading-container {
        font-size: 23px;
      }
      & .quote-content {
        font-size: 15px;
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .wrapper {
    & .heading {
      font-size: 18px;
      &::before {
        width: 80px;
      }
    }
    & .container {
      & .heading-container {
        font-size: 20px;
      }
      & .quote-content {
        font-size: 13px;
      }
    }
  }
}
