.container {
  margin: 100px auto 20px auto;
  max-width: var(--content-width);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
  & .container2 {
    padding: 0 20px;
  }
  & .heading {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  & .wrapper {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    & .img {
      flex: 30%;
      margin: 5px 5px;
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin: 100px 20px 50px 20px;
    & .heading {
      font-size: 25px;
    }
  }
}
@media screen and (max-width: 450px) {
  .container {
    & .wrapper {
      & .img {
        flex: 40%;
        margin: 5px;
      }
    }
    & .heading {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 380px) {
  .container {
    & .wrapper {
      & .img {
        flex: 100%;
      }
    }
    & .heading {
      font-size: 18px;
    }
  }
}
